.hero {
    background-image: linear-gradient(#f0f0f07b, #f0f0f07b), url(./background.png);
    padding: 2rem 0 3rem;
    border-radius: 0 0 40px 40px;
    background-size: cover;
    background-position: center;
}

.hero__title {
    text-align: center;
    color: rgb(78, 78, 78);
    text-transform: uppercase;
}

.select {
    border: 0;
    padding: .2rem.5rem;
    margin: auto;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}

.clock__wrapper p {
    text-align: center;
    margin-top: 1rem;
}

@media (min-width: 860px) {
    .clock__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }

    .div:first-child {
        margin-right: 3rem;
    }

    .div:last-child {
        margin-left: 3rem;
    }
}