.modal {
    background-color: white;
    padding: 1.5rem;
    width: 90%;
    border-radius: 20px;
    position: relative;
}

.modal button {
    cursor: pointer;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    background-color: transparent;
    width: 25px;
}

.modal svg {
    fill: var(--clr-text);
    transition: fill 150ms ease;
}

.modal .close:hover svg {
    fill: var(--clr-red);
}

.modal span {
    display: inline-block;
    width: 60px;
    height: 20px;
}

.modal p:first-of-type {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: .5rem;
}

.modal label {
    font-weight: 600;
    margin-top: .5rem;
    display: inline-block;
}

.edit {
    font-weight: 600;
    color: white;
    background-color: var(--clr-primary);
    padding: 3px .5rem;
    border-radius: 5px;
    border: 0;
    margin-top: .5rem;
    transition: opacity 150ms ease;
}

.edit:hover {
    opacity: .8;
}

.modal textarea,
.title {
    display: block;
    width: 100%;
    background-color: var(--clr-input);
    padding: .5rem;
}

.modal input,
.modal textarea {
    border: 0;
}