*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --clr-primary: #7C82FF;
  --clr-text: #383838;
  --clr-input: #F4F4F4;
  --clr-place: #c8c8c8;
  --clr-red: #ff6363;

  --clock: 250px;
  --padding: 1rem;
}

body {
  color: var(--clr-text);
}

.select,
.input {
  border: 0;
  background-color: var(--clr-input);
  border-radius: 3px;
}

.select {
  padding: .5rem;
}

.input {
  padding: .5rem 1rem;
}

.input.error {
  border: 2px solid var(--clr-red);
}

.input::placeholder {
  color: var(--clr-place);
}

.btn {
  border: 0;
  background-color: var(--clr-primary);
  color: white;
  font-weight: bold;
  padding: .4rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 150ms ease;
}

.btn:hover {
  opacity: .8;
}

textarea {
  resize: none;
}

@media (min-width: 620px) {
  :root {
    --padding: 3rem;
  }
}